<h1>Categories</h1>
<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Nombre</th>
          <th> Cantidad</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, category %></td>
            <td><%= category.products.count %></td>
            <td>
              <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-outline-info'%>
              <%= link_to 'Destroy', category, class: 'btn btn-outline-danger', 
              method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Category', new_category_path %>
