<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h3> Categoría : <%= @category.name %></h3>

    <%= form_with(model: [@category, @product]) do |form| %>
      <%= form.hidden_field :category_id, value: @category.id %>

      <div class="form-group">
        <%= form.label :name, 'Nombre' %>
        <%= form.text_field :name, id: :product_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price, 'Precio' %>
        <%= form.number_field :price, id: :product_price, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Ingresar', class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <table class="table mt-3">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @category.products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td>$<%= product.price %></td>
          <td>
            <%= link_to 'Eliminar', category_product_path(@category, product),
            class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
